<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">All Emps Details!!!</h1>
          {% if data %}
          <table class="table table-bordered mt-2">
            <thead class="bg-primary text-white">
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Percentage</th>
                <th>Year</th>
                <th>Location</th>
                <th>College Name</th>
                <th>University</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.percentage}}</td>
                <td>{{i.year}}</td>
                <td>{{i.location}}</td>
                <td>{{i.college_name}}</td>
                <td>{{i.university}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center">
            <a href="{% url 'add_emp' %}"class="btn btn-success">Add Emps</a>
            <a href="{% url 'mainPage' %}" class="btn btn-primary">Go To Main Page</a>
          </div>
          {% else %}
          <h1 class="text-center">No Data Available Here!!!</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
